<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Événements</h6>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral" data-bs-toggle="modal" data-bs-target="#AdddemandeModal" data-backdrop="false" 
          >Ajouter</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Liste Événements</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" >Nom</th>
                <th scope="col" class="sort" >Date </th>
                <th scope="col" class="sort" >Debut </th>
                <th scope="col" class="sort" >Fin </th>
                <th scope="col" class="sort" >Matériels</th>
                <th scope="col" class="sort" >Quantité</th>
                <th scope="col" class="sort" >Salle</th>
                <th scope="col" class="sort" >Etat</th>
                <th scope="col" class="sort" >Actions</th>
              </tr>
            </thead>
            <tr  *ngIf="taille()" > <td > Aucun élément trouvé</td> </tr>
            <tbody class="list" *ngFor="let demande of Demande ; let i =index">
              <tr *ngIf="demande.nom_club===club" >
                <td >{{demande.title}}</td>
                <td  >{{demande.date}}</td>
                <td >{{demande.debut}}</td>
                <td  >{{demande.fin}}</td>
                <td  >{{demande.materiels}}</td>
                <td >{{demande.qtemat}}</td>
                <td >{{demande.salle}}</td>
                <td >{{demande.etat}}</td>
                <td>
                  <button class="btn btn-icon btn-primary" type="button" [routerLink]="['/acceuil','demande','edit_demande',demande._id]" >
                    <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
                  </button>
                    <button type="button" (click)="removeDemande(demande,i)" class="btn btn-icon btn-danger">
                      <span class="btn-inner--icon"> <i class="far fa-calendar-times"></i> </span>
                   </button>
                </td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 </div>
     
    <!-- Modal -->
    <div class="modal fade" id="AdddemandeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ajouter Evenement</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="DemandeForm" > 
              <div class="form-group ">
                  <label >Titre</label>
                    <input type="text"  class="form-control" placeholder="Titre"   a
                    [ngModelOptions]="{standalone: true}" required />
                    
                 </div>
                 <div class="form-group ">
                  <label >Date</label>
                    <input type="date"class="form-control" placeholder="Date"  [(ngModel)]="event.date"
                    [ngModelOptions]="{standalone: true}" required />
                 </div>
                 <div class="form-group ">
                  <label >Debut</label>
                    <input type="time"class="form-control" placeholder="Debut"  [(ngModel)]="event.debut"
                    [ngModelOptions]="{standalone: true}" required />
                 </div>
                 <div class="form-group ">
                  <label >Fin</label>
                    <input type="time"class="form-control" placeholder="Fin"  [(ngModel)]="event.fin"
                    [ngModelOptions]="{standalone: true}" required />
                 </div>
                 <div class="form-group ">
                  <label >Salle</label>
                 <select [(ngModel)]="event.salle" [ngModelOptions]="{standalone: true}" class="form-control"  >
                   <option></option>
                  <option  *ngFor="let event of ev" >{{event.num}}</option>
                 </select>
                 </div> 
                  <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Matériels
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <label >Matériel</label>
                      <div class="form-group">
                 <select  [(ngModel)]="event.materiels"  [ngModelOptions]="{standalone: true}" class="form-control">
                   <option></option>
                  <option *ngFor="let materiel of mat ; let i =index">{{materiel.libelle}}</option>
                 </select>
                 </div>
                 <div class="form-group">
                 <label  >Quantité</label>
                    <input  type="number" class="form-control" placeholder="Quantité"  [(ngModel)]="event.qtemat"
                    [ngModelOptions]="{standalone: true}"  required />
                    

                    </div>
                  </div>
                 </div>
         
            </form>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary" (click)="onReset()" >Effacer</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
    
 