    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-center py-4">
              <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">Salles</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--6">
        <div class="row justify-content-center">
          <div class=" col ">
            <div class="card">
              <div class="card-header bg-transparent">
                <h3 class="mb-0">Modifier Salle</h3>
              </div>
             
      <form [formGroup]="editForm" > 
        <div class="form-group ">
            <label >Numéro</label>
              <input type="number" formControlName="num" class="form-control" placeholder="Numéro" [ngClass]="{ 'is-invalid': submitted && f.num.errors }" />
              <div *ngIf="submitted && f.num.errors" class="invalid-feedback">
                  <div *ngIf="f.num.errors.required">Numéro est obligatoire</div>
              </div>    
           </div>
           <div class="form-group">
            <label >Locale</label>
            <select formControlName="locale" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.locale.errors }"  >
              <option></option>
              <option>Annexe</option>
              <option>Principale</option>
              </select>
              <div *ngIf="submitted && f.locale.errors" class="invalid-feedback">
                <div *ngIf="f.locale.errors.required">Locale est obligatoire</div>
              </div>
           </div>
            <div class="form-group ">
              <label>Description</label>
              <textarea placeholder="Description" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea> 
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Description est obligatoire</div>
              </div>
            </div>
          <div class="text-center">
              <button class="btn btn-primary mr-1" (click)="onSubmit()">Editer</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Effacer</button>
          </div>
      </form>
  </div>
  </div>
  </div>
  </div>